<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Bienvenido al Ahorcado!</h1>
<div id="pista">Es un saludo</div>

<form action="/" method="post">
        <label for="palabraText">Palabra Secreta</label>
        <input type="Text" name="palabra" id="palabra" />
        <input type="submit" value="Arriesgar"/>
    </form>
    <div id="mensaje"><%=@mensaje%></div>
</body>

</html>